{
    "password": "wachtwoord rethink database",
    "username": "username rethink database",
    "servers": [{
            "host": "ip rethink db",
            "port": 28015
        }],
    "lan_user": "Inlog admin.lan/",
    "lan_pw": "ww admin.lan",
    "token": "discord bot token",
    "prefix": "!"
}
